<h1 id="join">join our drive to build new public monuments dedicated to women’s history in NYC.</h1>

<div class="background">
  <img class="top" src="https://www.lovehappensmag.com/blog/wp-content/uploads/2017/10/Gertrude-Vanderbilt-Whitney-at-Her-Greenwich-Village-Studio-768x501.jpg">

  <div id="welcomeContent">
    <div>
      <h1>
        this is an open call for proposal submissions
      </h1>
      <button href="#" onclick="signUpTemplate();$(window).scrollTop(0)">get started</button><br>
      <!-- <button href="#" onclick="showSideNav();hideTopNav();return false">browse nominees</button> -->
      <button href="#" onclick="loginDropDown();return false">log in</button>
   </div>
   <div id="login" style="position:relative;top:0;left:-55px;width:30.5%;"></div>
  </div>
</div>

<script>

$( function () {
  $("body").click(function(e) {
    if (!$(e.target).is("button") && !$(e.target).is(".topThreeImages img") && $(e.target).parents().is(".background")) {
      hideSideNav()
    }
  })
});

function loginDropDown() {
  $("#login").append('<%= j render "/sessions/login" %>');
  $("#login").css({
    "position":"relative",
    "top":"-20px"
  })
  $("#loginForm input").css({
    "height":"43px",
    "background-color": "rgba(255,255,255,0)",
    "border":"1px solid #3bb9ff",
    "border-radius":"5px",
    "font-size":"25px"
  });
  $("#loginForm input[type='submit']").css({
    "height":"40px",
    "background-color": "orange"
  });
  $("#loginForm a").css({
    "position": "relative",
    "left":"100px",
    "color":"white"
  })
}

// $(window).scroll(function(){
//   $(".top").css("opacity", 1.6 - $(window).scrollTop() / 250);
//   if ($(".top")[0]["style"]["opacity"] < "0.5") {
//     $("#welcomeContent").css("z-index","1") }
//   else {
//     $("#welcomeContent").css("z-index","-1")
//   }
// });

</script>
