<div class="background">
  <img class="top" src="https://www.lovehappensmag.com/blog/wp-content/uploads/2017/10/Gertrude-Vanderbilt-Whitney-at-Her-Greenwich-Village-Studio-768x501.jpg" style="position:relative;object-fit:cover;width:100%;height:750;opacity:0.4">

  <div id="welcomeContent" style="position:absolute;top:75px;width:100%;">
    <div style="position:relative;top:90px;width:40%;margin:10% 95px;">
      <h1 style="color:white;position:sticky;width:150%">
        this is an open call for proposal submissions
      </h1>
      <h2 style="color:white;text-align:justify;display:none;">
        We invite you to submit one nominee, and vote on all of our nominees,
        from the vast array of inspiring women who have contributed to our city.
      </h2>
      <button href="#" onclick="signUpTemplate();$(window).scrollTop(0)">get started</button><br>
      <!-- <button href="#" onclick="showSideNav();hideTopNav();return false">browse nominees</button> -->
      <button href="#" onclick="showTopNav();loginTemplate();return false">log in</button>
   </div>
  </div>
</div>

<div id="welcome">

  <div style="position:relative;left:55px;top:125px;width:50%;">
    <h1 style="color:white;">
    join our drive to build new public monuments dedicated to women’s history
    in NYC.
    </h1>
  </div>

<script>

$( function () {
  $("body").click(function(e) {
    if (!$(e.target).is("button") && !$(e.target).is(".topThreeImages img") && $(e.target).parents().is(".background")) {
      hideSideNav()
    }
  })
});

// $(window).scroll(function(){
//   $(".top").css("opacity", 1.6 - $(window).scrollTop() / 250);
//   if ($(".top")[0]["style"]["opacity"] < "0.5") {
//     $("#welcomeContent").css("z-index","1") }
//   else {
//     $("#welcomeContent").css("z-index","-1")
//   }
// });

</script>
