<h1>SHE BUILT NYC!</h1>
<p>
Is the significant first step in creating a public art collection that more fully represents
the diverse history of New York City, beginning with commemorations of visionary and inspiring
women.
</p><p>
She Built NYC! invites New York City residents to submit nominations for women
or events in women’s history that should be considered for future public commemorations. We ask
that individuals limit their nominations to one.

<h2>Most popular proposals:</h2>

<% Proposal.top_three_proposals.each do |proposal| %>
  <p><%= link_to proposal[0].name, proposal_path(proposal[0]) %><br>
    Rank: <%= proposal[0].rankings_average %>
  </p>


<% end %>
</p>
