<% if @proposal.image_url %>
  <img src="<%=@proposal.image_url%>" style="border: 1px solid black; max-width: 10%; height: auto;">
<% end %>

<h3>Comments on Proposed <%= @proposal.name %> Monument</h3>

<hr>
  <% if @user && !@user.comments.empty? %>
      <% @user.comments.each do |comment| %>
      <%= render partial: 'index', locals: {comment: comment} %>
      <% end %>
  <% elsif @proposal && !@proposal.comments.empty? %>
      <% @proposal.comments.each do |comment| %>
      <%= render partial: 'index', locals: {comment: comment} %>
      <% end %>
  <% else %>
    <p>This comments index is empty.</p>
  <% end %>
