<% if @user.image_url %>
  <img src="<%=@user.image_url%>" style="max-width: 20%; height: auto;">
<% end %>

<h1><%= @user.name %>'s Profile Page</h1>


  <% if current_user.admin  && current_user.id == params[:id].to_i %>
    <%= render partial: "admin_show" %>
  <% else %>
    <%= render partial: "non_admin_show" %>
<% end %>
